// @import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Quicksand:300&display=swap');

$main-colour: white;
$icon-size: 30px;
$max-width: 800px;
$font-size: 1em;
$panel-width: 600px;
$panel-height: 300px;

html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
	background-color: $main-colour;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	// font-size: $font-size;
	color: black;
}

// --------------------------------------------------
.wrapper {
	margin: auto;
	max-width: 880px;
	min-height: 100vh;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 80px auto 1fr 60px;
	grid-gap: 0.5em;
	// align-items: center;
}

.wrapper > div {
	// border: 1px solid pink;
}

.header {
	// grid-column: 1/1;
}

.header-wrapper {
	display: flex;
}

.header-wrapper-logo {
	// border: 1px solid purple;
}

.header-wrapper-title {
	// border: 1px solid purple;
}

.io-controls {
	// position: relative;
	z-index: 999;
	grid-column: 2/3;
}

.sketch-title {
	grid-column: 1/3;
}

.sketch-canvas {
	grid-column: 1/3;
	// height: 100%;
}

.sketch-controls {
	grid-column: 1/3;
}

// --------------------------------------------------

.preloader {
	text-align: center;
	top: 50%;
	left: 50%;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	transform: translate(-50%, -50%);
}

p {
	width: 100%;
	line-height: 28px;
}

.app-logo {
	width: $icon-size * 2;
	margin-right: 10px;
}

.img-btn {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
}

.io-panel {
	width: 290px;
	// height: 50px;
	position: fixed;
	z-index: 99;
}

.paper-img {
	display: none;
}

.panels {
	width: 300px;
}

.colour-picker {
	width: 316px;
	bottom: 60px;
	padding: 15px;
	position: absolute;
	box-shadow: 1px 1px 1px grey;
	border-radius: 5px;
	background: white;
}