// @import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Quicksand:300&display=swap');

$main-colour: white;
$icon-size: 30px;
$max-width: 800px;
$font-size: 1em;
$panel-width: 600px;
$panel-height: 300px;

html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
	background-color: $main-colour;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	// font-size: $font-size;
	color: black;
}

#app {
	height: 100vh;
}

.preloader {
	text-align: center;
	top: 50%;
	left: 50%;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	transform: translate(-50%, -50%);
}

.app-logo {
	width: $icon-size * 2;
	margin-right: 10px;
}

.img-btn {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

// .io-controls {
// 	input {
// 		font-size: $font-size;
// 		width: 280px;
// 		background: white;
// 		border-radius: 5px;
// 	}

// 	.file-loader-holder {
// 		padding: 0px;
// 	}
// }

.io-panel {
	width: 300px;
	// height: 50px;
	position: fixed;
	margin-left: -80px;
}

.sketch-controls {
	bottom: 0px;
}

.paper-img {
	display: none;
}

.panels {
	width: 300px;
}

.colour-picker {
	position: fixed;
	bottom: 65px;
	margin-left: 160px;
	padding: 15px;
	box-shadow: 1px 1px 1px grey;
	border-radius: 5px;
	background: white;
}