@import url('https://fonts.googleapis.com/css?family=Dosis:200');

$mainColour: white;

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
	background-color: $mainColour;
	text-align: center;
	font-family: 'Dosis', sans-serif;
	// font-weight: lighter;
	color: black;
}

canvas[resize] {
	// margin: 0px;
	// padding: 0px;
	// z-index: -1;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}

.image {
	width: 500px;
}

h1, h3 {
	margin: 0px;
	padding: 0px;
}